#{extends 'main.html' /} #{set title:'Tenant Sign Up error' /}
<div class="ui inverted teal menu">
	<a class="ui item" href="/home">Home</a> <a class="ui active item">Sign
		Up</a> <a class="ui item" href="/login">Login</a> <a class="ui item"
		href="/contact">Contact</a>
</div>
<h3 class="ui header">Create MyRent tenant account</h3>
<div class="ui tertiary teal segment">
	<div class="ui two column grid">
		<div class="column">
			<h4 class="ui header">Error! Please check your details and try
				again</h4>
			<form class="ui form" action="/tenants/register" method="POST">
				<div class="two fields">
					<div class="required field">
						<label>First Name</label> <input placeholder="First Name"
							type="text" name="tenant.firstName" required>
					</div>
					<div class="required field">
						<label>Last Name</label><input placeholder="Last Name" type="text"
							name="tenant.lastName" required>
					</div>
				</div>
				<div class="two fields">
					<div class="required field">
						<label>E-mail</label><input placeholder="e-mail" type="text"
							name="tenant.email" required>
					</div>
					<div class="required field">
						<label>Password</label> <input placeholder="password" type="text"
							name="tenant.password" required>
					</div>
				</div>
				<div class="required field">
					<div align="left">
						<input type="checkbox" name="terms" required> I agree to
						the terms and conditions
					</div>
				</div>
				<div>
					<button class="ui teal button" type="submit">Signup</button>
					<a class="ui teal button" href="/home"> <i class="ban icon"></i>Cancel
					</a>
				</div>
			</form>
		</div>
		<div class="ui column">
			<img src="/public/images/homes.jpg"></img>
		</div>
	</div>
</div>
<div class="ui message">
	Already have a tenant account? <a href="/tenants/login">Login here </a>
</div>
