#{extends 'main.html' /} #{set title:'Input Residence Data' /}
<div class="ui inverted teal menu">
	<a class="ui item">Home</a> <a class="ui item" href="/landlord">Landlord</a>
	<a class="ui active item">Input Residence data</a> <a class="ui item"
		href="/contact">Contact</a> <a class="ui item"
		href="/landlords/logout">Logout</a>
</div>
<h4 class="ui header">Please input residence data</h4>
<div class="ui tertiary teal segment">
	<div class="ui two column grid">
		<div class="column">
			<form class="ui form" action="/datacapture" method="POST">
				<div class="ui two column grid">
					<div class="column">
						<div class="ui fluid form segment">
							<labeL><i class="marker icon"></i>Location</labeL>
							<div class="ui input">
								<input id="geolocation" value="53.347298,-6.268344"
									name="residence.geolocation" type="text" readonly>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="ui form segment">
							<div class="ui fluid labeled input">
								<div class="ui label">Eircode</div>
								<input value="X92 Y433" name="residence.eircode" value=""
									type="text">
							</div>
						</div>
					</div>
				</div>
				<div class="ui two column grid">
					<div class="column">
						<div class="ui form segment">
							<div class="ui fluid labeled input">
								<div class="ui label">Rent (&euro;)</div>
								<input value="1500" name="residence.rent" type="text" size="4"
									required>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="ui form segment">
							<div class="ui fluid labeled input">
								<div class="ui label">Bedrooms:</div>
								<input value="3" name="residence.numberBedrooms" type="text"
									size=1em required>
							</div>
						</div>
					</div>
				</div>
				<div class="ui two column grid">
					<div class="column">
						<div class="ui fluid form segment">
							<div class="ui labeled input">
								<div class="ui label">Area (sq.m.)</div>
								<input value="50" name="residence.area" type="text" size="4"
									required>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="ui fluid form segment">
							<div class="ui labeled input">
								<div class="ui label">Bathrooms:</div>
								<input value="1" name="residence.numberBathrooms" type="text"
									size=1em required>
							</div>
						</div>
					</div>
				</div>
				<div class="ui form segment">
         		<div class="ui selection dropdown">
						<input name="residence.residenceType" type="hidden" >
						<div class="text">Residence type</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" data-value="Apartment|Flat">Apartment|Flat</div>
							<div class="item" data-value="Studio">Studio</div>
							<div class="item" data-value="House">House</div>
						</div>
					</div>
				</div>
				<button class="ui teal button" type="submit">
					<i class="checkmark icon"></i>Submit Data
				</button>
				<a class="ui teal button" href="/landlord"> <i class="ban icon"></i>Cancel
				</a>
				<div class="ui error message"></div>
			</form>
		</div>
		<div class="column">
			<div class="ui raised fluid segment">
				<div id="map-canvas" style="width: 100%; height: 300px; border: 0'"></div>
			</div>
			<div class="ui raised fluid form segment">
				<div>
					<iframe src="https://finder.eircode.ie/#/map" width="100%"
						height="300px"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKHXn_KSUWM9pAbtKTKgb_F-DL0-mbYHg&callback=i"></script>
<script src="@{'/public/javascripts/map.js'}" type="text/javascript" charset="utf-8"></script>