#{extends 'main.html' /} #{set title:'Admin' /}
<div class="ui inverted teal menu">
	<a class="ui item" href="/home">Home</a> 
	<a class="ui active item">Administrator</a>
	<a class="ui item" href="/reports">Reports</a>
	<a class="ui item" href="/contact">Contact</a>
	<a class="ui item" href="/logout">Log out</a>
</div>
<div class="ui tertiary teal segment">
	<h3>Administration page</h3>
	<h5>Landlords and Tenants</h5>
	<div class="ui three column grid">
		<div class="column">
			<form action="/landlords/signup" method="GET">
				<div class="ui fluid form segment">
					<button type="submit" class="ui fluid teal submit button">
						<i class="add user icon"></i>Register landlord
					</button>
				</div>
			</form>			
			<!-- <form class="ui form segment"  action="/administrators/deletelandlord" method="POST"> -->
			<form class="ui form segment landlord">
				<div id="deletelandlord"
					class="ui fluid selection dropdown landlord">
					<input name="email_landlord" type="hidden"
						id="form_delete_landlord">
					<div class="default text">Select landlord to delete</div>
					<i class="dropdown icon"></i>
					<div class="menu landlord">
						#{list items:landlords, as:'landlord'}
						<div class="item landlord" data-value="landlord.email">${landlord.email}</div>
						#{/list}
					</div>
				</div>
				<div class="ui fluid form segment">
					<div id="notificationLandlord"></div>
				</div>
				<div class="ui fluid form segment">
					<button type="submit" class="ui fluid teal submit button">
						<i class="remove user icon"></i>Delete landlord
					</button>
					<div class="ui error message"></div>
				</div>
			</form>
			</div>
			<div class="ui column">
			<form action="/tenants/signup" method="GET">
				<div class="ui fluid form segment">
					<button type="submit" class="ui fluid teal submit button">
						<i class="add user icon"></i>Register tenant
					</button>
				</div>
			</form>
			<!-- <form class="ui form segment"  action="/administrators/deletetenant" method="POST"> -->
			<form class="ui form segment tenant">
				<div id="deletetenant" class="ui fluid selection dropdown">
					<input name="email_tenant" type="hidden" id="form_delete_tenant">
					<div class="default text">Select tenant to delete</div>
					<i class="dropdown icon"></i>
					<div class="menu">
						#{list items:tenants, as:'tenant'}
						<div class="item tenant" data-value="tenant.email">${tenant.email}</div>
						#{/list}
					</div>
				</div>
				<div class="ui fluid form segment">
					<div id="notificationTenant"></div>
				</div>
				<div class="ui fluid form segment">
					<button type="submit" class="ui fluid teal submit button">
						<i class="remove user icon"></i>Delete tenant
					</button>
					<div class="ui error message"></div>
				</div>
			</form>
		</div>
<div class="column">
<section class="ui segment">
	<h5>Single click on marker to read eircode and tenant</h5>
          <div class="ui embed 4:3" id="map" style="width:500px; height:460px;"></div>  
          </section>
        </div> 
      </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKHXn_KSUWM9pAbtKTKgb_F-DL0-mbYHg&callback=i"></script>
<script src="@{'/public/javascripts/administrator_map.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/administrators.js'}" type="text/javascript" charset="utf-8"></script>
