#{extends 'main.html' /} #{set title:'Feedback' /}
<div class="ui inverted teal menu">
	<a class="ui item" href="/welcome">Welcome</a>
	<a class="ui item" href="/inputdata/index">Input Data</a>
	<a class="ui item" href="/report">Report</a>
	<a class="ui active item" href="/contact">Contact</a>
	<a class="ui item" href="/editprofile">Edit Profile</a>
	<a class="ui item" href="/logout">Logout</a>
</div>
<h3 class="ui header">MyRent</h3>
<div class="ui tertiary teal segment">
<h4 class="ui header">Acknowledgement</h4>
<div class="ui compact segment">
	<p>
		Thank you for your message!<br><br> We very much appreciate you
		having taken the time out of your very busy schedule to contact us.<br>
		<br> We will deal with the issue you have raised and advise you
		of the outcome as soon as possible. <br>
		<br>With best wishes<br>
		<br> From the MyRent team<br>
	</p>
</div>
	<div class="ui message">
		Click <a href="/contact">here</a> to leave another message or <a
			href="/logout"> Log out</a>
	</div>
</div>