#{extends 'main.html' /} #{set title:'Contact' /}
<div class="ui inverted teal menu">
	<a class="ui item">Welcome</a>
	<a class="ui item" href="/inputdata/index">Input Data</a>
	<a class="ui item" href="/report">Report</a>
	<a class="ui active item">Contact</a>
	<a class="ui item" href="/editprofile">Edit Profile</a>
	<a class="ui item" href="/logout">Logout</a>
</div>
	<h4 class="ui header">We would very much appreciate if you would provide some
		feedback!</h4>
		<div class="ui tertiary teal segment">
	<form action="/sendmessage" method="POST">
		<div class="ui input field">
			<input placeholder="your first name" name="firstName"
				type="text" required>
		</div>
		<div class="ui input field">
		<input placeholder="your last name" name="lastName" type="text" required>
		</div>
		<div class="ui divider"></div>
		<div class="ui input field">
		<input placeholder="your email address" name="email" type="text"
				size="30" required>
		</div>
		<div class="ui divider"></div>
		<div class="ui form">
		<div class="field">
				<textarea placeholder="Enter message here" name="messageText" required></textarea>
			</div>
			</div>
		<div class="ui divider"></div>
		<button type="submit" class="ui teal submit button"><i class="send icon"></i>Send
			Message</button>
	</form>
</div>