#{extends 'main.html' /} #{set title:'landlords' /}
<div class="ui inverted teal menu">
	<a class="ui item">Home</a>
	<a class="ui active item">Landlord</a>
	<a class="ui item" href="/report">Report</a>
	<a class="ui item" href="/contact">Contact</a>
	<a class="ui item" href="/landlords/logout">Logout</a>
</div> 
<h4>Landlord: ${landlord}, managed residences: ${residences.size()}</h4>
<div class="ui tertiary teal segment">
	<div class="ui three column grid">
		<div class="column">
			<form action="/inputdata" method="GET">
				<div class="ui fluid form segment">
					<button type="submit" class="ui fluid teal submit button">
						<i class="plus icon"></i>Add Residence
					</button>
				</div>
			</form>
			<form class="ui form segment" action="/landlords/deleteresidence" method="POST">
				<div class="ui fluid selection dropdown" id="deleteresidence">
				  <input type="hidden" name="eircode_delete">
				  <i class="dropdown icon"></i>
				  <div class="default text">Select residence to delete</div>
				  <div class="menu">
				  #{list items:residences, as:'residence'}
				    <div class="item" data-value="${residence.eircode}">${residence.eircode}</div>
				    #{/list}
				  </div>
				</div>
				<div class="ui fluid form segment">
					<button type="submit" class="ui fluid teal submit button">
						<i class="remove icon"></i>Delete residence
					</button>
				</div>
				<div class="ui error message"></div>
			</form>
		</div>
		<div class="column">
			<form action="/landlords/editprofile" method="GET">
				<div class="ui fluid form segment">
					<button type="submit" class="ui fluid teal submit button">
						<i class="edit icon"></i>Edit profile
					</button>
				</div>
			</form>
			<form class="ui form segment" action="/landlords/editresidence" method="POST">
			<div class="ui fluid selection dropdown" id="editresidence">
				  <input type="hidden" name="eircode_edit">
				  <i class="dropdown icon"></i>
				  <div class="default text">Select residence to edit</div>
				  <div class="menu">
				  #{list items:residences, as:'residence'}
				    <div class="item" data-value="${residence.eircode}">${residence.eircode}</div>
				    #{/list}
				  </div>
				</div>
				<div class="ui fluid form segment">
					<button type="submit" class="ui fluid teal submit button">
						<i class="edit icon"></i>Edit residence
					</button>
				</div>
				<div class="ui error message"></div>
			</form>
			</div>
		<div class="ui center aligned column">
			<img src="/public/images/config.jpg"></img>
		</div>
	</div>
</div>