#{extends 'main.html' /} #{set title:'Landlord login' /}
<div class="ui inverted teal menu">
	<a class="ui item" href="/home">Home</a>
	<a class="ui active item">Login</a>
	<a class="ui item" href="/contact">Contact</a> 
	</div>
	<h3 class="ui header">Log into your landlord account</h3>
<div class="ui tertiary teal segment">
	<h4 class="ui item">Your username in the email you registered with</h4>
	<div class="ui two column grid">
		<div class="column">
			<form class="ui fluid form segment" action="/landlords/authenticate" method="POST">
				<div class="field">
					<div class="required field">
						<label>Username:</label> <input placeholder="e-mail" type="text"
							name="email" required>
					</div>
					<div class="required field">
						<label>Password</label> <input placeholder="password" type="text"
							name="password" required>
					</div>
				</div>
				<button class="ui teal button" type="submit"><i class="sign in icon"></i>Login</button>
			</form>
		</div>
		<div class="ui center aligned column">
		<img src="/public/images/login.jpg"></img>
		</div>
	</div>
	<div class="ui message">
		Don't have a landlord account? <a href="/landlords/signup">Sign up here </a>
	</div>
</div>
