#{extends 'main.html' /} #{set title:'Login' /}
<div class="ui inverted teal menu">
	<a class="ui item" href="/welcome">Welcome</a> <a class="ui item"
		href="/signup">Sign Up</a> <a class="ui active item">Login</a>
</div>
<div class="ui segment">
	<h3 class="ui header">Log into your account</h3>
	<h4 class="ui item">Your username in the email you registered with</h4>
	<div class="ui two column grid">
		<div class="column">
			<form class="ui fluid form segment" action="/authenticate"
				method="POST">
				<div class="field">
					<div class="required field">
						<label>Username:</label> <input placeholder="e-mail" type="text"
							name="email" required>
					</div>
					<div class="required field">
						<label>Password</label> <input placeholder="password" type="text"
							name="password" required>
					</div>
				</div>
				<button class="ui teal button" type="submit">Login</button>
			</form>
		</div>
		<div class="column">
		<img src="/public/images/login.jpg"></img>
		</div>
	</div>
	<div class="ui message">
		Don't have an account? <a href="/signup">Sign up here </a>
	</div>
</div>
