#{extends 'main.html' /} #{set title:'Sign Up' /}
<div class="ui inverted teal menu">
	<a class="ui item" href="/welcome">Welcome</a> <a
		class="ui active item">Sign Up</a> <a class="ui item" href="/login">Login</a>
</div>
<h2 class="ui header">Create MyRent account</h2>
<div class="ui two column grid">
<div class="column">
<h4 class="ui header">Error! PLease check your details and try again</h4>
<form class="ui form" action="/register" method="POST">
	<div class="two fields">
		<div class="required field">
			<label>First Name</label> <input placeholder="First Name" type="text"
				name="landlord.firstName" required>
		</div>
		<div class="required field">
			<label>Last Name</label><input placeholder="Last Name" type="text"
				name="landlord.lastName" required>
		</div>
	</div>
	<div class="two fields">
		<div class="required field">
			<label>E-mail</label><input placeholder="e-mail" type="text"
				name="landlord.email" required>
		</div>
		<div class="required field">
			<label>Password</label> <input placeholder="password" type="text"
				name="landlord.password" required>
		</div>
	</div>
	<div class="required field">
		<label>Address:</label><input placeholder="address" type="text"
			name="landlord.address" required>
	</div>
	<div class="required field">
		<div align="left">
			<input type="checkbox" name="terms" required> I agree to the
			terms and conditions
		</div>
	</div>
	
	<div>
		<button class="ui teal button" type="submit">Signup</button>
		<a class="ui teal button" href="/welcome"> <i class="ban icon"></i>Cancel</a>
	</div>
	</form>
	</div>
	<div class="ui column">
	<img src="/public/images/homes.jpg"></img>
	</div>
	</div>
	<div class="ui message">
		Already have an account? <a href="/login">Login here </a>
	</div>
